<!--  keyboard users can skip to content directly, must Tab into, hidden by default 
      href is the hypertext reference - goes to the main text -->
<a class="skip-link" href="#main-content">Skip to content</a>


<!-- header -->
<header class="site-header">
  <div class="container header-content">

    <!-- homepage icon -->
    <a class="site-name" href="/" aria-label="heheuwu.com home" aria-current="page">🐉🌊</a>

    <!-- all other navigation links -->
    <nav aria-label="Main navigation">
      <a href="/drdcui/">drdcui</a>
    </nav>

  </div>
</header>