<!--  keyboard users can skip to content directly, must Tab into, hidden by default 
      href is the hypertext reference - goes to the main text -->
<a class="skip-link" href="#main-content">Skip to content</a>


<!-- header -->
<header class="site-header">
  <div class="container header-content">

    <!-- homepage icon -->
    <a class="site-name" href="/" aria-label="heheuwu.com home" 
       {% if page.url == "/" %} aria-current="page" {% endif %}
    >🐉🌊</a>

    <!-- all other navigation links come from _data/navigation.yml -->
    <nav aria-label="Main navigation">
      {% for item in site.data.navigation %}
        <a href="{{ item.url }}" {% if page.url == "/" %} aria-current="page" {% endif %}>
          {{ item.title }}
        </a>
      {% endfor %}
    </nav>

  </div>
</header>