---
---

<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<head>
  <!-- idk probably necessary :pensivewobble: -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="dcui's personal website">

  <!-- browser tab name (title) and default -->
  <title>{{ page.title | default: "dcui is peecui" }}</title>

  <!-- CSS stylesheets to import -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/codestyleSAS.css">

  <!-- webpage icon :^) -->
  <link rel="icon" href="/assets/images/aaaa.png">

  <!-- FOR MATHJAX EQUATION RENDERING -->
  <script>
    MathJax = {
      tex: {
        inlineMath: {'[+]': [['$', '$']]}
      }
    };
  </script>
  <script defer src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-chtml.js"></script>

</head>



<!-- BODY -->
<body>
  <!-- header (+ nav) -->
  {% include header.html %}

  <!-- MAIN -->
  <main id="main-content" class="container" tabindex="-1">
    {{ content }}
  </main>

  <!-- feet??? pogchamp -->
  {% include footer.html %}
</body>

</html>